<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Managers</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <h1>Manage Managers</h1>
  <form action="/admin/managers" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Add Manager</button>
  </form>
  <ul>
    <% managers.forEach(manager => { %>
      <li><%= manager.username %> - <%= manager.email %></li>
    <% }) %>
  </ul>
  <%- include('../partials/footer') %>
</body>
</html>
